.back {
  /*background-image: url('../../assets/back1.jpg');
  background-size: cover;*/
  height: 100vh;
  /*background: rgba(119, 119, 119, 1);*/
  background: linear-gradient(DimGray, DarkGray);
}

.router {
  margin-left: auto;
  margin-right: auto;
  padding-top: 20%;
}
