<div class="col-md-6 text">
  <p class="color"> <span class="login longshadow">Login</span><br /><span class="amazed longshadow">To Be Amazed</span> </p>
</div>
<div class="col-md-6 logindiv">
  <md-card class="card">
    <form class="form" [formGroup]="login">
      <table>
        <tr>
          <td>
            <md-form-field class="input">
              <input mdInput placeholder="Email ID" formControlName="email">
            </md-form-field>
            <div class="error" *ngIf="login.get('email').hasError('required') && login.get('email').touched">
              Email is required
            </div>
            <div class="error" *ngIf="login.get('email').hasError('email') && login.get('email').touched">
              Invalid Email
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <md-form-field class="input">
              <input mdInput type="password" placeholder="Password" formControlName="password">
            </md-form-field>
            <div class="error" *ngIf="login.get('password').hasError('required') && login.get('password').touched">
              Password is required
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="button-row">
              <button md-raised-button (click)="btnClick($event.target);">Submit</button>
            </div>
          </td>
          <td>
            <div mdTooltip="Forgot Password ?" [mdTooltipPosition]="position">
              <a routerLink="/login/forgot">
                <md-icon>lock_open</md-icon>
              </a>
            </div>
          </td>
        </tr>
      </table>
    </form>
  </md-card>
</div>
