<div class="col-md-6 text">
  <p class="color"> <span class="amazed longshadow">Forgot Password</span><br /><span class="login longshadow"> Don't Worry</span> </p>
</div>
<div class="col-md-6 logindiv">
<md-card class="card">
    <form class="form">
        <table>
          <tr><td>
              <md-form-field class="input">
                <input mdInput placeholder="Email ID">
              </md-form-field>
          </td></tr>
          <tr>
              <td>
                <div class="button-row">
                  <button md-raised-button (click)="btnClick();">Submit</button>
                </div>
              </td><td>
                <div mdTooltip="Go Back to Login" [mdTooltipPosition]="position"> <a  routerLink="/login"><md-icon>keyboard_backspace</md-icon></a></div>
              </td>
          </tr>
        </table>
      </form>
</md-card>
</div>
