<div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
    <form [formGroup]="shhh">
        <div class="card card-login card-hidden">
            <div class="card-header text-center" data-background-color="grey">
                <img src="../../../assets/img/logo.png" class="card-title logo" />
                <p class="color">
                    <span class="amazed">Set Password</span>
                    <br />
                    <span class="login">Don't worry</span>
                </p>
            </div>
            <div class="card-content">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">lock_open</i>
                    </span>
                    <div class="form-group label-floating">
                        <label class="control-label">New Password</label>
                        <input type="password" class="form-control" formControlName="pass">
                        <small class="text-danger" *ngIf="shhh.get('pass').touched && shhh.get('pass').hasError('pattern')">
                            * Password must be Minimum 6 Characters *
                        </small>
                    </div>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">lock_open</i>
                    </span>
                    <div class="form-group label-floating" [ngClass]="{'has-success':cp, 'has-error':ep}">
                        <label class="control-label">Confirm Password</label>
                        <input type="password" class="form-control" formControlName="confirm" (blur)="check()">
                        <span class="material-icons form-control-feedback" *ngIf="cp">done</span>
                        <span class="material-icons form-control-feedback" *ngIf="ep">clear</span>
                        <small class="text-danger" *ngIf="ep">
                            * Passwords Doesn't Match *
                        </small>
                    </div>
                </div>
            </div>
            <div class="footer text-center">
                <button type="submit" class="btn btn-default btn-wd btn-lg" [disabled]="ep" (click)="setP($event.target)">Let's go
                    <i class="material-icons">send</i>
                </button>
            </div>
        </div>
    </form>
</div>