.logo{
    max-width: 100px;
    color: 'white';
}

.login{
  font-family: 'Pacifico', cursive;
  font-size: 45px;
  color: black;
}

.amazed{
  font-family: 'Bree Serif', serif;
  font-size: 40px;
  color: white;
  z-index: 4;
}
