<div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
    <form [formGroup]="register">
        <div class="card card-login card-hidden">
            <div class="card-header text-center" data-background-color="lime">
                <img src="../../../assets/img/logo.png" class="card-title logo" />
                <p class="color"> <span class="login">Register</span><br /><span class="amazed">To Be Amazed</span> </p>
            </div>
            <div class="card-content">
                <div class="input-group">
                    <span class="input-group-addon">
                                            <i class="material-icons">face</i>
                                        </span>
                    <div class="form-group label-floating">
                        <label class="control-label">User Name</label>
                        <input type="text" class="form-control" formControlName="username">
                    </div>
                </div>
                <!-- <div class="input-group">
                    <span class="input-group-addon">
                                            <i class="material-icons">email</i>
                                        </span>
                    <div class="form-group label-floating">
                        <label class="control-label">First Name</label>
                        <input type="email" class="form-control">
                    </div>
                    <span class="input-group-addon">
                                            <i class="material-icons">email</i>
                                        </span>
                    <div class="form-group label-floating">
                        <label class="control-label">Last Name</label>
                        <input type="email" class="form-control">
                    </div>
                </div> -->
                <div class="input-group">
                    <span class="input-group-addon">
                                            <i class="material-icons">email</i>
                                        </span>
                    <div class="form-group label-floating">
                        <label class="control-label">Email address</label>
                        <input type="email" class="form-control" formControlName="email">
                    </div>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">
                                            <i class="material-icons">phone</i>
                                        </span>
                    <div class="form-group label-floating">
                        <label class="control-label">Phone</label>
                        <input type="text" class="form-control" formControlName="phone">
                    </div>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">
                                            <i class="material-icons">lock_open</i>
                                        </span>
                    <div class="form-group label-floating">
                        <label class="control-label">Password</label>
                        <input type="password" class="form-control" formControlName="password">
                    </div>
                </div>
            </div>
            <div class="footer text-center">
                <button type="submit" class="btn btn-default btn-wd btn-lg" [disabled]="!register.valid" (click)="signup($event.target);">Let's go <i class="material-icons">send</i></button>
            </div>
            <div class="footer text-center">
                <button type="button" class="btn btn-rose btn-simple">
                  <a href="/pages/login">
                    <i class="material-icons">fingerprint</i> Login
                  </a>
                </button>
                <button type="button" class="btn btn-rose btn-simple">
                  <a href="/pages/forgot">
                    <i class="material-icons">lock_open</i> Forgot Password
                  </a>
                </button>
            </div>
        </div>
    </form>
</div>
