<div class="wrapper wrapper-full-page">
    <!-- <nav class="navbar navbar-primary navbar-transparent navbar-fixed-top">
        <div class="container">

            <div class="collapse navbar-collapse" id="menu-example">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/dashboard">
                            <i class="material-icons">dashboard</i> Dashboard
                        </a>
                    </li>
                    <li class="">
                        <a href="/pages/register">
                            <i class="material-icons">person_add</i> Register
                        </a>
                    </li>
                    <li class=" active ">
                        <a href="/pages/login">
                            <i class="material-icons">fingerprint</i> Login
                        </a>
                    </li>
                    <li class="">
                        <a href="/pages/lock">
                            <i class="material-icons">lock_open</i> Lock
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav> -->
    <div class="full-page login-page" filter-color="black" data-image="../../../assets/img/login.jpeg">
        <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
        <div class="content">
            <div class="container">
                <div class="row">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>
