/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.example-form {
  min-width: 150px;
  max-width: 700px;
  width: 100%;
}

.example-full-width {
  width: 100%;
  color: #fff;
}


.example-full-width[_ngcontent-c1] {
    width: 200% !important;
}
